In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle

In [3]:
# Loading CSV data
data = pd.read_csv("student-mat.csv", sep=";")
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [4]:
# Removing unwanted attributes
data = data[["G1", "G2", "G3", "studytime", "absences", "failures"]]
data.head()

   G1  G2  G3  studytime  absences  failures
0   5   6   6          2         6         0
1   5   5   6          2         4         0
2   7   8  10          2        10         3
3  15  14  15          3         2         0
4   6  10  10          2         4         0

In [5]:
# splitting data into x and y
predict = "G3"

x = np.array(data.drop([predict], 1))
y = np.array(data[predict])

/tmp/ipykernel_14473/2328795380.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  x = np.array(data.drop([predict], 1))

In [6]:
# Splitting dataset into train and test
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x,y,test_size=0.1)
print(type(x_train))

<class 'numpy.ndarray'>

In [8]:
# Creating a linear regression model
linear = linear_model.LinearRegression()

In [9]:
# Training the model to fit our training dataset
linear.fit(x_train, y_train)

LinearRegression()

In [10]:
# Checking the accuracy of the trained model on the test dataset
linear.score(x_test, y_test)

0.7738655400427893

In [11]:
# Printing the coeffecients and intercept of the linear regression model
print("Coefficients : " , linear.coef_)
print("Intercept : ", linear.intercept_)

Coefficients :  [ 0.15072622  0.97109016 -0.24076684  0.03436457 -0.42115113]
Intercept :  -1.2177475382455683

In [12]:
# Storing the prediction on test dataset
predictions = linear.predict(x_test)

# printing the predictions, input attributes (x) and y
for x in range(len(predictions)):
  print(predictions[x], x_test[x], y_test[x], sep="\t")

13.211263594700624	[15 14  3  4  2]	15
12.553524346842142	[14 13  4  0  0]	14
14.096188820917796	[13 14  1  0  0]	13
6.721026157665477	[ 9  7  2 20  1]	8
11.852556045443304	[11 12  1  0  0]	10
10.558701947837664	[10 11  2  2  0]	11
6.875304276421863	[ 7  7  1 14  0]	5
6.204715942473926	[ 7  8  2 10  3]	10
12.746140756798614	[11 13  1 10  1]	13
9.171061210539621	[11  9  1 19  1]	10
8.844020511646285	[9 9 1 6 0]	10
12.540256392740012	[13 13  4  4  0]	12
14.00092377765102	[11 14  1  6  0]	14
13.820842536243523	[13 14  3  6  0]	14
11.973927252490139	[15 12  3  0  0]	14
11.793542969953693	[15 12  2  0  1]	12
12.24361937017718	[12 12  2 14  0]	12
4.197985204931037	[6 5 2 4 0]	6
12.58381910650313	[15 13  3 14  2]	13
18.940368001281495	[18 18  1  6  0]	18
13.855421975986882	[13 14  2  0  0]	15
15.807642151461572	[17 15  1  4  0]	16
7.004824970550381	[9 8 2 0 1]	0
13.704480879547617	[12 14  3  7  0]	14
18.712869110452715	[19 18  2  2  0]	18
6.6094769657341335	[9 8 1 6 3]	10
10.017746185814698	[12 10  2 18  1]	10
6.3643274004628605	[8 7 1 7 1]	8
13.94546259669063	[12 14  1  0  0]	15
5.001959040006802	[7 6 1 0 1]	0
14.294332694566249	[15 14  2  4  0]	14
8.232748294316906	[ 7 10  4  2  1]	10
7.769621773330327	[ 9  8  2 10  0]	8
13.674716865695753	[13 13  2 23  0]	13
14.225603559503732	[15 14  2  2  0]	14
15.656701055022307	[16 15  2 11  0]	15
11.053073847377416	[11 11  2 12  0]	11
5.1003462333786	[6 6 2 2 0]	6
5.315622868128494	[8 7 2 8 3]	8
11.169435504073324	[12 11  2 11  0]	11